absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1623774798911/work
aiohttp @ file:///Users/runner/miniforge3/conda-bld/aiohttp_1623682484649/work
astor @ file:///home/conda/feedstock_root/build_artifacts/astor_1593610464257/work
astunparse @ file:///home/conda/feedstock_root/build_artifacts/astunparse_1610696312422/work
async-timeout==3.0.1
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1620387926260/work
blinker==1.4
brotlipy==0.7.0
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1619593780156/work
certifi==2021.5.30
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1625835561163/work
chardet @ file:///Users/runner/miniforge3/conda-bld/chardet_1610093477312/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1626371162869/work
click @ file:///Users/runner/miniforge3/conda-bld/click_1621503759047/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1616851512278/work
cycler==0.10.0
docopt==0.6.2
flatbuffers @ file:///home/conda/feedstock_root/build_artifacts/python-flatbuffers_1617723079010/work
gast==0.3.3
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1627569118436/work
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio @ file:///Users/runner/miniforge3/conda-bld/grpcio_1619796055906/work
h5py @ file:///Users/runner/miniforge3/conda-bld/h5py_1617739488066/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1609836280497/work
importlib-metadata @ file:///Users/runner/miniforge3/conda-bld/importlib-metadata_1627748944968/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1612898609989/work
Keras-Preprocessing @ file:///home/conda/feedstock_root/build_artifacts/keras-preprocessing_1610713559828/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1624925864380/work
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1614595805172/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1628521333196/work
multidict @ file:///Users/runner/miniforge3/conda-bld/multidict_1624981215272/work
numpy==1.19.5
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1622563202229/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
opt-einsum @ file:///home/conda/feedstock_root/build_artifacts/opt_einsum_1617859230218/work
pandas==1.3.1
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1625678024115/work
pipreqs==0.4.10
protobuf==3.15.8
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1619620644068/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==2.4.7
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1610291493748/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1604248910016/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1626393743643/work
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1595492159598/work
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1614171254180/work
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1628432020987/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1628206458939/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/tensorboard_1610699261066/work/tensorboard-2.4.1-py3-none-any.whl
tensorboard-plugin-wit @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-plugin-wit_1611075653546/work/tensorboard_plugin_wit-1.8.0-py3-none-any.whl
tensorflow @ file:///Users/uwe/miniconda3/conda-bld/tensorflow-split_1619499088398/work/tensorflow_pkg/tensorflow-2.4.1-cp38-cp38-macosx_10_9_x86_64.whl
tensorflow-estimator @ file:///home/conda/feedstock_root/build_artifacts/tensorflow-estimator_1610655765755/work/tensorflow_estimator-2.4.0-py2.py3-none-any.whl
termcolor==1.1.0
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1626092076920/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1625489059091/work
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1622748266870/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1624634538755/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1621518206714/work
wrapt @ file:///Users/runner/miniforge3/conda-bld/wrapt_1624971795890/work
yarg==0.1.9
yarl @ file:///Users/runner/miniforge3/conda-bld/yarl_1625233054231/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1625284368454/work
